<template>
  <p class="intro">
    Select cryptos to look for earning products availabilities on Binance.com
  </p>
  <Currencies></Currencies>
</template>

<script lang="ts">
import Currencies from "../components/Currencies.vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "Home",
  components: {
    Currencies,
  },
});
</script>

<style scoped>
.intro {
  margin: 24px;
}
</style>
