<template>
  <div
    v-for="currency in currenciesStore.selectedCurrencies"
    :key="currency.name"
  >
    <div class="currency_products">
      <div class="header">
        <img
          class="currency_logo"
          :src="require(`@/assets/currency-logos/${currency.name}.svg`)"
        />
        <h3 class="currency_name">{{ currency.name }}</h3>
        <img
          @click="toggleMenu(currency)"
          class="dropdown_arrow"
          :class="{ expanded: currency.expanded }"
          :src="require(`@/assets/arrow.svg`)"
        />
      </div>
      <div class="body" :class="{ expanded: currency.expanded }">
        <div class="product_container bold">
          <p class="type">Type</p>
          <p class="duration">Duration</p>
          <p class="apy">APY</p>
        </div>
        <div
          v-for="(fixedSavingsProduct, index) in currency.fixedSavings"
          :key="index"
        >
          <Product
            type="Fixed Savings"
            :APY="fixedSavingsProduct.APY"
            :days="fixedSavingsProduct.days"
          ></Product>
        </div>
        <div
          v-for="(lockedStakingProduct, index) in currency.lockedStaking"
          :key="index"
        >
          <Product
            type="Locked Staking"
            :APY="lockedStakingProduct.APY"
            :days="lockedStakingProduct.days"
          ></Product>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useCurrenciesStore } from "../stores/useCurrenciesStore";
import Product from "../components/Product.vue";
import { Currency } from "@/interfaces";

export default defineComponent({
  name: "Products",
  components: { Product },
  setup() {
    const currenciesStore = useCurrenciesStore();
    return { currenciesStore };
  },
  data() {
    return {
      expandableProducts: {},
    };
  },
  async created() {
    console.log(this.currenciesStore.selectedCurrencies);
  },
  methods: {
    toggleMenu(currency: Currency) {
      currency.expanded = !currency.expanded;
    },
  },
});
</script>

<style>
.product_container {
  display: flex;
  justify-content: space-around;
}
.product_container.bold {
  font-weight: bolder;
}
.type {
  width: 35%;
}
.duration {
  width: 25%;
}
.apy {
  width: 25%;
}
.currency_products {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  margin: 16px;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.currency_products .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}
.currency_products .body {
  max-height: 0;
  transform-origin: top;
  transition: max-height 0.4s ease-in-out;
  content: "";
  overflow: scroll;
}
.currency_products .body.expanded {
  max-height: 320px;
  content: unset;
}
.currency_logo {
  padding: 8px;
  border-radius: 48%;
  width: 48px;
  height: 48px;
}
.dropdown_arrow {
  width: 24px;
  transform: rotate(90deg);
  transition-duration: 0.5s;
}
.dropdown_arrow.expanded {
  transform: none;
}
</style>
