<template>
  <div class="search_bar">
    <input
      @keyup.enter="findCurrencies"
      type="text"
      v-model="search"
      placeholder="search coin"
    />
  </div>
  <div class="currencies">
    <div
      v-for="currency in currenciesStore.currencyDictionary"
      :key="currency.name"
    >
      <Currency :currency="currency"></Currency>
    </div>
  </div>
  <button class="search_products_btn">
    <router-link :to="{ name: 'Products' }">find products</router-link>
  </button>
</template>

<script lang="ts">
import { useCurrenciesStore } from "../stores/useCurrenciesStore";
import { defineComponent } from "vue";
import Currency from "./Currency.vue";

export default defineComponent({
  name: "Currencies",
  setup() {
    const currenciesStore = useCurrenciesStore();
    return { currenciesStore };
  },
  data() {
    return { search: "" };
  },
  components: { Currency },
  methods: {
    findCurrencies() {
      const matching = this.currenciesStore.retrieveMatchingCurrencies(
        this.search
      );
      if (matching.length === 1) {
        this.currenciesStore.toggleSelectedCurrency(matching[0]);
        this.search = "";
      } else if (matching.length === 0) {
        console.log("nothing found"); // logic to show error, eg shaking bar
      } else {
        this.currenciesStore.highlightCurrencies(matching);
      }
    },
  },
});
</script>

<style scoped>
.currencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 24px;
}

.search_products_btn {
  background-color: rgb(var(--red));
  border-radius: 20px;
  border: none;
  color: rgb(var(--pink));
  font-weight: bold;
  font-size: var(--size3);
  letter-spacing: 0.1rem;
  padding: 16px 48px;
  text-transform: uppercase;
  font-family: var(--font-family);
  transition: transform 160ms ease-in;
}

.search_products_btn:hover {
  outline: none;
  transform: scale(1.05);
}

.search_bar input {
  background-color: rgb(var(--yellow));
  color: rgb(var(--red));
  border: none;
  height: 32px;
  border-radius: 16px;
  width: 50%;
  padding: 8px;
  text-align: center;
  font-family: "Anybody", cursive;
  text-transform: uppercase;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline-width: 0;
}

::placeholder {
  text-transform: none;
  color: rgb(var(--red), 0.7);
}
</style>
