<template>
  <div class="logo_container">
    <img
      @click="currenciesStore.toggleSelectedCurrency(currency)"
      class="currency_logo"
      :class="{
        selected: currency.selected,
        highlighted: currency.highlighted && !currency.selected,
      }"
      :src="require(`@/assets/currency-logos/${currency.name}.svg`)"
    />
    <p class="currency_name">{{ currency.name }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Currency } from "../interfaces";
import { useCurrenciesStore } from "../stores/useCurrenciesStore";

export default defineComponent({
  name: "Currency",
  setup() {
    const currenciesStore = useCurrenciesStore();
    return { currenciesStore };
  },
  props: {
    currency: { type: Object as () => Currency, required: true },
  },
});
</script>

<style scoped>
.logo_container {
  padding: 8px;
  border-radius: 16px;
}

.currency_logo {
  padding: 8px;
  border-radius: 48%;
  width: 48px;
  height: 48px;
  transition-duration: 0.5s;
}
.currency_logo.selected {
  animation: selected 1s;
  background-color: rgb(var(--white), 0.4);
}
.currency_logo.highlighted {
  animation: highlight 2s;
}

@keyframes highlight {
  0% {
    background-color: rgb(var(--white), 0);
  }
  30% {
    background-color: rgb(var(--white), 0.4);
  }
  50% {
    background-color: rgb(var(--white), 0.4);
  }
  100% {
    background-color: none;
  }
}
@keyframes selected {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.currency_name {
  line-height: 0;
}
.currency_name.selected {
  font-weight: bolder;
}
</style>
