<template>
  <header>
    <h1>Binance Butler</h1>
  </header>
</template>

<script lang="ts">
export default {
  name: "Header",
};
</script>

<style scoped>
header {
  color: rgb(var(--red));
  font-weight: 900;
  line-height: 47px;
}
</style>
