<template>
  <div class="product_container">
    <p class="type">{{ type }}</p>
    <p class="duration">{{ days }}</p>
    <p class="apy">{{ APY }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Product",
  props: {
    type: String,
    APY: String,
    days: String,
  },
});
</script>

<style scoped></style>
