<template>
  <Header />
  <main>
    <router-view />
  </main>
  <Footer />
</template>

<script lang="ts">
import { useCurrenciesStore } from "./stores/useCurrenciesStore";
import { defineComponent } from "vue";
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";

export default defineComponent({
  name: "App",
  components: {
    Header,
    Footer,
  },
  setup() {
    const currenciesStore = useCurrenciesStore();
    currenciesStore.setupCurrencies();
    currenciesStore.refreshProducts();
  },
});
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600&display=swap");
:root {
  /* fonts */
  --font-family: "Anybody", cursive;
  --size1: 68px;
  --size2: 32px;
  --size3: 24px;
  --size4: 16px;

  /* colors */
  --gray: 64, 78, 77;
  --blue: 147, 168, 172;
  --white: 255, 255, 255;
  --pink: 226, 180, 189;
  --copper: 155, 106, 108;
  --red: 215, 38, 61;
  --yellow: 240, 185, 9;
}
body {
  text-align: center;
  font-family: var(--font-family);
  margin: 0;
  background-image: linear-gradient(
    90deg,
    rgb(var(--blue)) 0%,
    rgb(var(--pink)) 74%
  );
}
h1 {
  font-size: var(--size1);
}
h2 {
  font-size: var(--size2);
}
h3 {
  font-size: var(--size3);
}
p {
  font-size: var(--size4);
  line-height: 24px;
}
a {
  text-decoration: none;
  color: inherit;
}

/* sections */
header {
}
main {
}
footer {
  height: 10vh;
}
</style>
